<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISanPham" />
                <binding name="BasicHttpBinding_INhanVien" />
                <binding name="BasicHttpBinding_IKhachHang" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SERVICES/SanPham/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISanPham"
                contract="SanPham.ISanPham" name="BasicHttpBinding_ISanPham" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SERVICES/NhanVien/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhanVien"
                contract="NhanVien.INhanVien" name="BasicHttpBinding_INhanVien" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SERVICES/KhachHang/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKhachHang"
                contract="KhachHang.IKhachHang" name="BasicHttpBinding_IKhachHang" />
        </client>
    </system.serviceModel>
</configuration>